<h1><%= raw ":watermelon:".emojify %>アイディア集<%= raw ":watermelon:".emojify %></h1>
<table>
  <thead>
    <tr>
      <th><%= raw ":shaved_ice:".emojify %>アイディア名<%= raw ":shaved_ice:".emojify %></th>
      <th><%= raw ":swimmer:".emojify %>説明<%= raw ":swimmer:".emojify %></th>
      <th><%= raw ":corn:".emojify %>画像<%= raw ":corn:".emojify %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= link_to image_tag(idea.picture, size: "100x150" ), idea %></td>
        <td><%= link_to "#{raw(':fireworks:'.emojify)}詳細 #{raw(':fireworks:'.emojify)}".html_safe, idea %></td>
        <td><%= link_to "#{raw(':bikini:'.emojify)}編集 #{raw(':bikini:'.emojify)}".html_safe, idea %></td>
        <td><%= link_to "#{raw(':sunflower:'.emojify)}編集 #{raw(':sunflower:'.emojify)}".html_safe, idea %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{raw(':sushi:'.emojify)}新しいアイディア #{raw(':sushi:'.emojify)}".html_safe, new_idea_path %></td>

